<div class="bannerBox">
    <div class="productBox">
        <div class="productImg">

        </div>
    </div>
    <div class="BannerText">
        <p>Texto</p>
        <p>Texto</p>
        <p>Texto</p>
        <p>Texto</p>
    </div>
</div>
<style>
    .bannerBox {
        display: flex;
        align-items: center;
        height: 400px;
        width: 100vw;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }

    .productBox {
        height: 100%;
        width: 50%;
    }

    .productImg {
        height: 100%;
        width: 100%;
        background-size: auto 100%;
        background-position: right;
        background-repeat: no-repeat;
        animation: changeBackground 30s infinite steps(1), sliderBanner 30s infinite;
    }

    @keyframes changeBackground {
        0%, 97.5% {
            background-image: url(assets/Bootleg\ Branca.png);
        }
        22.5% {
            background-image: url(assets/Illusion\ Branca.png);
        }
        47.5% {
            background-image: url(assets/Moments\ Branca.png);
        }
        72.5% {
            background-image: url(assets/Sometimes\ Branca.png);
        }
    }

    @keyframes sliderBanner {
        0%, 20%, 25%, 45%, 50%, 70%, 75%, 95%, 100% {
            transform: translateX(0%);
            filter: drop-shadow(20px 0px 10px black);
        }
        22.5%, 47.5%, 72.5%, 97.5% {
            transform: translateX(-100%);
            filter: drop-shadow(0px 0px 10px black);
        }
    }

    .BannerText {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 80%;
        width: 50%;
    }

    .BannerText p {
        font-size: 20px;
        font-weight: 600;
        font-family: sans-serif;
    }
</style>