<div class="bannerBox">
    <div class="productBox">
        <div class="productImg">

        </div>
    </div>
    <div class="BannerText">
        <p>Texto</p>
        <p>Texto</p>
        <p>Texto</p>
        <p>Texto</p>
    </div>
</div>
{{ 'banner-main.css' | asset_url | stylesheet_tag }}