{%- if property.first contains 'Preview' -%}
    <div class="ProductSize">Tamanho: {{ property.first | split: 'Size:' | last }}</div>
    <div class="ProductPreview" style="background-image: url(https://raw.githubusercontent.com/BujihCEO/Theme/main/assets/{{ property.first | split: 'Color:' | last | split: '/Size:' | first }}.png);">
        <div class="ResultPreview" style="background-image: url({{ property.last }});"></div>
    </div>
{%- endif -%}

{%- style -%}
    .ProductPreview {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        aspect-ratio: 1/1;
        background-size: cover;
        background-position: center;
    }
    .ResultPreview {
        position: absolute;
        width: 35%;
        aspect-ratio: 3508/4961;
        background-size: contain;
        background-position: center;
    }
{%- endstyle -%}