<dt></dt>
<dd>
    {%- if property.last contains '/uploads/' -%}
        <a
          href="{{ property.last }}"
          class="link"
          target="_blank"
          aria-describedby="a11y-new-window-message"
        >
          {{ property.last | split: '/' | last }}
        </a>
      {%- else -%}
        {{ property.last }}
      {%- endif -%}
</dd> 
