.PickersTitle {
    width: 100%;
    text-align: left;
    margin: 0px;
    line-height: 1;
    font-size: 25px;
}

.ProductModelBox, .ProductSizeBox {
    position: relative;
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    margin: 15px 0px;
    overflow-x: auto;
}

.ModelPicker, .SizePicker {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85%;
    font-size: 25px;
    background-color: #fff;
    font-weight: 600;
    color: #000;
    border: 2px solid black;
    border-radius: 10px;
    padding: 0px 10px;
    margin: 0px 10px;
    transition: .5s;
    cursor: pointer;
}

.ModelPicker.selected, .SizePicker.selected {
    height: 100%;
    background-color: black;
    color: white;
}

.ProductColorsBox {
    position: relative;
    display: flex;
    align-items: center;
    height: 70px;
    width: 100%;
    overflow-x: auto;
}

.ColorPicker {
    height: 90%;
    aspect-ratio: 1/1;
    border: 2px solid black;
    border-radius: 50%;
    transition: .5s;
    margin: 0px 10px;
    cursor: pointer;
}

.ColorPicker.selected {
    height: 100%;
    border: 2px solid red;
}

.Bg_Tshirt {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #ffffff;
    z-index: 3;
}

.Tshirt {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    aspect-ratio: 1/1;
    background-size: 100% auto;
    background-position: center;
    margin: auto;
    transition: .5s;
    overflow: hidden;
    --color: red;
}

.Tshirt.Zoom {
    background-size: 190%;
}

.Preview {
    position: absolute;
    width: 35%;
    aspect-ratio: 3508/4961;
    border: 2px solid transparent;
    opacity: 80%;
}

.Preview.border {
    border: 2px dashed red;
}

.Preview.Zoom {
    transform: scale(1.90);
}

.Pr_Drag {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.imgWrap {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 1%;
    width: 72%;
    aspect-ratio: 1/1.67;
    border: calc(0.4vw * var(--resize)) solid var(--color);
    border-radius: calc(2vw * var(--resize));
    overflow: hidden;
}

.ImgContainer {
    position: absolute;
    display: flex;
    justify-content: center;
    height: 100%;
    filter: contrast(25000%);
    --mask: '';
    -webkit-mask-image: var(--mask);
    -webkit-mask-position: top;
    -webkit-mask-size: cover;
    mask-image: var(--mask);
    mask-position: top;
    mask-size: cover;
    overflow: hidden;
    transform: translateZ(0);
}

.ImgPreview {
    position: relative;
    height: 100%;
    object-fit: cover;
    object-position: top;
    background-color: var(--color);
}

.halftone {
    position: absolute;
    top: -100%;
    left: -100%;
    right: -100%;
    bottom: -100%;
    background-blend-mode: multiply;
    background: radial-gradient(100% 100%, var(--color), white);
    --size: calc(.2vh * var(--resize));
    background-size: var(--size) var(--size);
    background-position: 0 -3px, -2px 0, 2px 0;
    mix-blend-mode: screen;
    pointer-events: none;
    transform: rotate(11.25deg);
    z-index: 1;
}

.TextName {
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 0px;
    font-size: calc(14vw * var(--resize));
    font-family: font_1;
    color: white;
    -webkit-text-stroke: calc(0.5vw * var(--resize)) var(--color);
    line-height: .88;
    text-transform: uppercase;
}

.Star {
    background-color: var(--color);
    -webkit-mask-image: url(Star_1.svg);
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-image: url(Star_1.svg);
    mask-size: contain;
    mask-repeat: no-repeat;
}

.Star.A1 {
    position: absolute;
    left: 0%;
    top: 7%;
    height: 23.05%;
    aspect-ratio: 1/1;
    -webkit-mask-position: left;
    mask-position: left;
}

.Star.A2 {
    position: absolute;
    right: 0%;
    top: 43%;
    height: 23.05%;
    aspect-ratio: 1/1;
    -webkit-mask-position: right;
    mask-position: right;
}

.ImgSelector {
    display: none;
}

.ImgSelector.selected {
    position: absolute;
    display: block;
    border: 2px dashed red;
}

.ImgDragMove {
    height: 100%;
    width: 100%;
}

.ImgSizeControl {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -8px;
    right: -8px;
    height: 16px;
    width: 16px;
    background-color: #fff;
    border: 2px solid black;
    border-radius: 50%;
    box-sizing: border-box;
    cursor: ne-resize;
}

.ImgSizeControl::after {
    content: '';
    position: absolute;
    height: 200%;
    width: 200%;
}

.Zomm_Wrap {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 14%;
    aspect-ratio: 1/1;
    bottom: 1%;
    left: 1%;
    background-color: #fff;
    border: 3px solid black;
    border-radius: 30%;
}

.Zoom_Btn {
    height: 100%;
    width: 100%;
    color: black;
    margin: 10%;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.Zoom_Btn.selected {
    display: none;
}

.Zoom_Btn.In {
    background-image: url(Zoom-in.svg);
}

.Zoom_Btn.Out {
    background-image: url(Zoom-out.svg);
}

.Personalization {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    font-size: .7rem;
    background-color: #0ff;
    background-image: url(Christmas.gif);
    padding: 6px 0 20px;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
}

.WRAPBTNOPTIONS {
    display: flex;
    width: 100%;
    border-radius: 2em;
    overflow: hidden;
    overflow-x: auto;
    :first-child {
        margin-left: 0px;
    }
    :last-child {
        margin-right: 0px;
    }
}

.WRAPBTNOPTIONS.SUB {
    margin: 20px 0px 0px;
}

.BTNOPTIONS {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 1.7em;
    font-size: 3em;
    font-weight: 700;
    padding: 10px 20px;
    margin: 0 3px;
    background-color: #fff;
    color: #000;
    cursor: pointer;
}

.BTNOPTIONS.selected {
    background-color: #000;
    color: #fff;
}

.CustomContainer {
    display: none;
}

.CustomContainer.selected {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.UploadImgWrap {
    display: flex;
    width: 30%;
    margin: 3em auto 0;
}

.IconContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    aspect-ratio: 1/1;
    background-color: white;
    background-image: url(Upload.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    border: 0px solid black;
    border-radius: 20%;
    overflow: hidden;
    box-shadow: 3px 5px 10px #000;
    transition: border 0.5s, transform 0.5s;
    box-sizing: border-box;
}

.IconContainer.selected {
    transform: scale(1.1); 
    border: 6px solid black;
    z-index: 2;
}

.iconInput {
    height: 100%;
    width: 100%;
}

.imgIcon {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    object-fit: cover;
}

.ImgOptions {
    display: none;
}

.ImgOptions.selected {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 1em 0 0;
}

.ImgEffect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    font-weight: 700;
    margin: 0;
}

.threshold-slider {
    width: 100%;
}

.Personalization input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 95%;
    height: 40px;
    background-color: #ddd;
    border-radius: 40px;
    margin: 0;
    z-index: 2;
}

.Personalization input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 40px;
    border-radius: 5px;
}

.Personalization input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 40px;
    background: #fff;
    border-radius: 0px;
    border: 3px solid #000;
    margin: 0 -20 0 0;
}

.ImgInputLabel {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5em;
    width: 95%;
    font-size: 3em;
    text-align: center;
    line-height: 1;
    font-weight: 700;
    background-color: #000;
    color: #fff;
    border-radius: 50px;
    margin: 20px 0 0;
}

.ImgInputLabel > * {
    margin: 0 0 0 10px;
}

.ImgInputLabel div {
    height: 100%;
    aspect-ratio: 1/1;
    background-image: url(Upload.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    filter: invert(100%);
}

.InputTextContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 3em auto 0;
}

.Tittle {
    position: relative;
    font-size: 3em;
    font-weight: 700;
    line-height: 1;
    background-color: #000;
    color: #fff;
    padding: 5px 30px;
    margin: 0;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

.Personalization input[type="text"] {
    width: 80%;
    font-size: 3em;
    font-weight: 700;
    text-align: center;
    border: 0px; 
    border-radius: 1rem;
    padding: 1rem;
}

@font-face {
    font-family: font_1;
    src: url(Lucidity_Psych.ttf) format('truetype');
}

@font-face {
    font-family: font_2;
    src: url(Lovelo_Black.otf) format('truetype');
}

@media screen and (max-width: 749px) {
    .Tshirt {
        max-width: 360px;
    }
    .Personalization {
        max-width: 430px;
    }
}