.LoadingCustom {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 99999;
    background-color: #000000e6;
}

.loadGif {
    height: 270px;
    width: 270px;
    background: url(cat-working.gif) center / contain no-repeat;
}

.loadMessage {
    color: white;
    font-size: 3rem;
    margin: 20px 0 0;
}